@model DotNetCoreCsharpProject.Entities.PlanningDates
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.DateOuvertureEnrGrp
            </td>
            <td>
                Ouverture de <b>l'enregistrement en ligne des groupes</b> : Les étudiants de la 5ème année doivent s'enregistrer soit en monôme ou en binôme (selon les PFE).
            </td>
        </tr>
        <tr>
            <td>
                @Model.DateOuvertureEnrGrp
            </td>
            <td>
                <b>Dernier délai </b>pour l'enregistrement des groupes. Tout retart sera pénalisé lors de l'évaluation
            </td>
        </tr>
        <tr>
            <td>
                @Model.DateAttributionEnc
            </td>
            <td>
                <b>Attributon des encadrants pédagogiques</b> : Chaque groupe doit contacter son encadrant pédagogique afin de bénéficier d'un suivi pédagogique  en collaboration avec l'encadrant industriel au sen de l'entreprise. DEs rapports d'avancements du projet doivent être régulièrement enregidtrés sur cette plateforme.
            </td>
        </tr>
        <tr>
            <td>
                @Model.DateLimitInsSujet
            </td>
            <td>
                Dernier délai pour<b> l'insertion du sujet </b>: Tous les groupes doivent compléter leur formulaire en y insérant les données concernant le PFE et l'entreprise. <i>TOut retard sera pénalisé lors de l'évaluation</i>'
            </td>
        </tr>
        <tr>
            <td>
                @Model.DateLimitRapportAvt1
            </td>
            <td>
                <b>Dernier délai pour l'enregistrement du 1er rapport d'avancement </b> Chaque groupe doit enregistrer son 1er rapport d'avancement en format pdf sur cette plateforme.
            </td>
        </tr>
        <tr>
            <td>
                @Model.DateLimitRapportAvt2
            </td>
            <td>
                <b>Dernier délai pour l'enregistrement du 2eme rapport d'avancement </b> Chaque groupe doit enregistrer son 2eme rapport d'avancement en format pdf sur cette plateforme.
            </td>
        </tr>
        <tr>
            <td>
                @Model.DateLimitRapportAvt3
            </td>
            <td>
                <b>Dernier délai pour l'enregistrement du 3eme rapport d'avancement </b> Chaque groupe doit enregistrer son 3eme rapport d'avancement en format pdf sur cette plateforme.
            </td>
        </tr>
        <tr>
            <td>
                @Model.DateLimitRapportAvt4
            </td>
            <td>
                <b>Dernier délai pour l'enregistrement du 4eme rapport d'avancement </b> Chaque groupe doit enregistrer son 4eme rapport d'avancement en format pdf sur cette plateforme.
            </td>
        </tr>
        <tr>
            <td>
                @Model.DateLimitRapportFinal
            </td>
            <td>
                <b>Dernier délai pour l'enregistrement du rapport final </b> Chaque groupe doit enregistrer son rapport final en format pdf sur cette plateforme.
            </td>
        </tr>
    </tbody>
</table>

