@model DotNetCoreCsharpProject.Entities.Groupes

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Groupes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sujet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sujet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesciptionSujet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesciptionSujet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesciptionFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesciptionFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSoutenance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSoutenance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDepotRapport1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDepotRapport1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDepotRapport2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDepotRapport2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDepotRapport3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDepotRapport3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDepotRapport4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDepotRapport4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RapportAvt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RapportAvt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RapportAvt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RapportAvt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RapportAvt3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RapportAvt3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RapportAvt4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RapportAvt4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSocieteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSocieteNavigation.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdprofNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdprofNavigation.IdUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
