
@model IEnumerable<DotNetCoreCsharpProject.ViewModels.GroupsModel>

    <table class="table">
        <thead>
            <th>#</th>
            <th>Membres</th>
            <th>Encadrant Interne</th>
            <th>Sujet et Ville</th>
        </thead>
        <tbody>
            @foreach (var grp in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => grp.id)
                </td>
                <td>
                    @foreach (var student in grp.students)
                    {
                        string fullNameStd = student.LastName + ' ' + student.FirstName;
                        @Html.DisplayFor(modelItem => fullNameStd)
                        <br />
                    }
                </td>
                <td>
                    @{
                        string fullNameEnc = grp.encadrant.LastName + ' ' + grp.encadrant.FirstName;
                        @Html.DisplayFor(modelItem => fullNameEnc)

                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => grp.sujet).[
                    @Html.DisplayFor(modelItem => grp.ville) ]
                </td>

            </tr>
}
        </tbody>
    </table>